{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": ["^@/components/", "^@/types", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
